h1,p{
  text-align: center;
  font-family: sans-serif;
  
}
p{
  font-size: 16px;
  font-weight: lighter;
}
body{
  background: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
color: white;


}
form{
  margin: 0 auto;
  width: 600px;
  min-width: 500px;
  background-color: #000f3c;
  border: none;
  padding: 20px;
  font-family: Poppins, sans-serif;
  
}
input[type="text"],input[type="email"],input[type="number"]{
  display: block;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  border: round;
  width: 100%;
  font-family: Poppins, sans-serif;

}
#name-label, #email-label, #number-label{
  display: block;
  text-align: left;
  padding: 10px;
  font-size: large;
  border: round;
  width: 100%
}
input[type="radio"]{
 padding: 10px;
 margin-left: 50px;
 
}


input[name="recommend"]{
  display: inline-block;
  margin-left:0;
}
input[type="submit"]{
  display: block;
  margin: 70px 0;
  width: 100%;
  height: 50px;
  border: 10px;
  background-color:#37af65;
  color: white;
  text-align: center;
  appearance: auto;
  font-size: 16px;

}

fieldset{
  border: none; 
  padding: 20px;
}
.dropdown{
  display: block;
  width: 100%;
  height: 35px;
  color: grey;
  font-size: 16px;
}
/* #recommend, input[type="radio"]{
  margin: 5px;
  
} */
/* fieldset[class="recommend"]{
  display: inline ;
  font-size: 16px;
  border: solid white;
  margin-left:0;
  width: 100%


} */
/* #improvement_fields{
 
} */
label{
  display: block;
  
}
textarea{
  width: 100%;
  font-size: 0.8rem;
}
label.input[type="checkbox"]{
  vertical-align: middle;
  display: inline;

}
legend{
  font-size: large;
}
div{
  font-family: Poppins, sans-sarif;
}